APPLICATION_PORT=your_app_port
APPLICATION_URL=your_application_url
ALLOWED_ORIGINS=your_allowed_origins

POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_HOST=your_postgres_host
POSTGRES_PORT=your_postgres_port
POSTGRES_DATABASE=your_postgres_database

REDIS_PASSWORD=your_redis_password
REDIS_HOST=your_redis_host
REDIS_PORT=your_redis_port